body {
  background: #3c8fee;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#weather-container {
  background: #d333efcc;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px #160f0fed;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff2e;
  text-align: center;
}

h2, label, p {
  color: #fff;
  margin: 8px 0;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #f9f7f7;
  margin-top: 20px;
}

button {
  background: #f9f7f7;
  color: #3c8fee;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background: #ffffffb3;
}

#temp-div p {
  font-size: 60px;
  margin-top: -30px;
}

#weather-info {
  font-size: 20px;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

#hourly-forecast {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.hourly-item {
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}

.hourly-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

#hourly-heading {
  color: #fff;
  margin-top: 10px;
}