body {
  background: #3c8fee;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#weather-container {
  background: #d333efcc;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px #160f0fed;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff2e;
  text-align: center;
}